{% extends "home/home.html" %}
{% load static %}
{% block content %}
<div id ="box1">
    <h1 class="center">{{ contact.name }}</h1>
  </div>
  <div id="box2">
    <div class="center">
      <a href= {{contact.facebook }}><img src="{% static 'home/media/facebook.png' %}" alt="facebook" class="social"></a>
      <a href= {{ contact.github }} ><img src="{% static 'home/media/github.png' %}" alt="instagram" class="social"></a>
      <a href= {{ contact.linkin }} ><img src="{% static 'home/media/linkedin.png' %}" alt="twitter" class="social"></a>
 {% endblock %}

